
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Inria Sans", sans-serif;
    
    --color-shrek: #D5FF5F;
    --color-black-35: #14151A;
    --color-black-34: #2D2D35;
    --color-donkey-30: #747474;
    --color-donkey-20: #989898;
    --color-donkey-10: #B5B5B5;
    --color-white: #E8E8E8;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-black-35); /* 👈 Default background */
  color: var(--color-white); /* optional: make all text light */
}

/* CUSTOM COMPONENT STYLES */
@layer components {
  .shrek-btn {
    @apply bg-shrek text-black-35 text-2xl font-sans py-2 px-5 rounded-full w-fit
           border-2 border-transparent transition-colors duration-300
           hover:bg-transparent hover:text-white hover:border-shrek;
  }

  .nobg-btn {
    @apply inline-block px-3 py-2 text-white text-2xl hover:text-shrek transition-all hover:scale-105 duration-300;
  }

  .plain-btn {
    @apply text-white;
  }

  .blackicon-btn {
    @apply p-2 text-black-35 hover:scale-110 transition-transform duration-300;
  }
}

@layer base {
  h1 {
    @apply font-sans font-bold text-shrek text-6xl;
  }
}
